<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
       
        <strong>Product List</strong>
      </a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </div>
  </div> 
</header>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4"  *ngFor="let product of productList">
        <app-product [productData]="product"></app-product>
      </div>
    </div>
  </div>
</div>
